body {
  background-color: blanchedalmond;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  text-align: center;
}

.center {
  grid-column: 2/3;
  background-color: lightpink;
}

.difficulty-div {
  display: block;
  grid-column: 2/3;
}

.difficulty-div--off {
  display: none;
}

.category-div {
  display: block;
  grid-column: 2/3;
}

.category-div--off {
  display: none;
}

.question-div {
  display: block;
  grid-column: 2/3;
}

.question-div--off {
  display: none;
}

.true-false-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.voting-button {
  color: #550527;
  font-size: 24px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid #550527;
}

.voting-button--selected {
  color: #fff;
  background-color: #550527;
  border: 2px solid white;
}
