.score {
    display: flex;
    justify-content: space-between;

    background-color: #dff0d8;
    padding: 2px 5px;
    color: var(--secondary-color);

    .score__text {
        display: flex;
        flex-direction: column;
        text-align: right;
    }

    .category {
        display: flex;
        flex-direction: column;
        font-size: 0.9rem;
    }
}