$primary-color: #403d39;
$background-color: #f6f7eb;
$font-family: 'Roboto';

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  font-family: $font-family;
  color: $primary-color;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}
