$primary-color: #252525;
$background-color: #ffffff;
$font-family: "Open Sans", sans-serif;
//color scheme
$border-color: #878e88;
$font-color: #252726;

$normal-font-size: 16px;
$medium-font-size: 13px;
$small-font-size: 10px;

$background-color: #f5f5f5;

$content-padding: 1px 7px 2px 7px;
$card-gap: 10px;

$margin: 7px;
$margin-double: 14px;

%button {
  background-color: #63B1C2;
  color: white;

  &:hover {
    background-color: #16BAC5;
    transition: 0.3s;
  }
}
