@import "parameters";

button{
  @extend %button;

  margin: 2px;

  font-family: $font-family;

  cursor: pointer;
}

.category{
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: $normal-font-size;

}
